<div class="header-container">
    <div class="logo-container">
        <img src="logo.svg" alt="Logo" (click)="navigateToHome()">
    </div>
    <div class="nav-container">
        <a (click)="navigateToHome()">Strona główna</a>
        <a (click)="navigateToEvents()">Wydarzenia</a>
        <a (click)="navigateToMap()">Mapa</a>
        <a *ngIf="appStore.authInfo()" (click)="navigateToMyEvents()">Moje wydarzenia</a>
        <a (click)="navigateToChat()">Chat</a>
    </div>
    <div class="login-buttons-container">
        <!-- if user is logged in -->
        <ng-container *ngIf="appStore.authInfo(); else loggedOut">
            <span class="user-name">
                {{ appStore.authInfo()?.name }}
            </span>
            <button (click)="logout()" class="login-button">Wyloguj</button>
        </ng-container>

        <!-- if not logged in -->
        <ng-template #loggedOut>
            <button class="register-button">Zarejestruj się</button>
            <button (click)="login()" class="login-button">Zaloguj</button>
        </ng-template>
    </div>
</div>