.header-container{
    height: 100%;
    width: 100%;
    background-color: #391F96;
    display: flex;
    color: white;
    font-size: 1.5em;
    gap: 60px;

    .logo-container{
        height: 100%;
        margin-left: 30px;
        display: flex;
        align-items: center;
        justify-content: center;

        img{
            height: 80%;
            width: auto;
        }
    }

    .nav-container{
        height: 100%;
        display: flex;
        align-items: center;
        gap: 50px;
        margin-left: 20px;
        padding-top: 15px;

        a{
            color: white;
            text-decoration: none;
            font-weight: bold;
            cursor: pointer;

            &.active{
                text-decoration: underline;
            }
        }
    }

    .login-buttons-container {
        height: 100%;
        display: flex;
        align-items: center;
        gap: 20px;
        margin-left: auto;
        margin-right: 50px;
        padding-top: 15px;

        .login-button{
            padding: 10px 20px;
            border: none;
            border-radius: 10px;
            cursor: pointer;
            font-size: 1em;
            font-weight: bold;
            background-color: #FAB941;
        }

        .register-button{
            padding: 10px 20px;
            border: 2px solid white;
            border-radius: 10px;
            cursor: pointer;
            font-size: 1em;
            font-weight: bold;
            background-color: transparent;
            color: white;
        }
    }
}