<div class="header-container">
    <div class="logo-container">
        <img src="logo.svg" alt="Logo" (click)="navigateToHome()">
    </div>
    <div class="nav-container">
        <a (click)="navigateToHome()">Strona główna</a>
        <a (click)="navigateToEvents()">Wydarzenia</a>
        <a routerLink="/map" routerLinkActive="active">Mapa</a>
    </div>
    <div class="login-buttons-container">
        <button class="register-button">Zarejestruj się</button>
        <button class="login-button">Zaloguj</button>
    </div>
</div>