<div class="header-container">
    <div class="logo-container">
        <img src="logo.svg" alt="Logo">
    </div>
    <div class="nav-container">
        <a routerLink="/home" routerLinkActive="active">Strona główna</a>
        <a routerLink="/event" routerLinkActive="active">Wydarzenia</a>
        <a routerLink="/map" routerLinkActive="active">Mapa</a>
    </div>
    <div class="login-buttons-container">
        <button class="register-button">Zarejestruj się</button>
        <button class="login-button">Zaloguj</button>
    </div>
</div>