<div class="event-item">
  <div class="event-date">
    <span class="month">Gru</span>
    <span class="day">04</span>
    <span class="weekday">Sob</span>
  </div>

  <div class="event-content">
    <div class="left-section">
      <h3 class="event-title">{{event?.title}}</h3>
      <div class="event-details">
          <div class="location">
            <mat-icon>location_on</mat-icon>
            <span>{{event?.addressStreet + ' ' + event?.addressBuildingNumber + event?.addressFlatNumber}}</span>
          </div>
          <div class="time">{{event?.startDate + '-' + event?.endDate}}</div>
      </div>
    </div>
    <div class="right-section">
      <span *ngIf="showStatus"></span>
      <span *ngIf="generateCertificate">Wygeneruj certyfikat</span>
    </div>
  </div>
</div>
