<div class="event-item" (click)="redirectToEvent()">
  <div class="event-date">
    <span class="month">{{ month }}</span>
    <span class="day">{{ day }}</span>
    <span class="weekday">{{ weekday }}</span>
  </div>

  <div class="event-content">
    <div class="left-section">
      <h3 class="event-title">{{event?.title}}</h3>
      <div class="event-details">
          <div class="location">
            <mat-icon>location_on</mat-icon>
            <span>{{event?.addressStreet + ' ' + event?.addressBuildingNumber}}</span>
          </div>
          <div class="time">{{ (event?.startDate | date:'shortTime') + ' - ' + (event?.endDate | date:'shortTime') }}</div>
      </div>
    </div>
    <div class="right-section">
      <span *ngIf="showStatus">Ukończony</span>
      <span *ngIf="generateCertificate">Wygeneruj certyfikat</span>
    </div>
  </div>
</div>
