.main-container {
    height: 100%;
    width: 100%;

    .filters-container {
        height: 25%;
        width: 100%;
    }

    .map-container {
        height: 75%;
        overflow: hidden;
    }
}