<div class="welcome-banner-container">
    <div class="left-section-banner-container">
        <div class="banner-content-container">
            <div class="slogan-container">
                <p>Witaj w Krakowskim</p>
                <p>Cyfrowym Centrum</p>
                <p>Wolontariatu</p>
            </div>
            <p class="disclaimer">Znajdź projekt, który odmieni miasto</p>
            <button class="find-project-button">Znajdź projekt</button>
        </div>
    </div>
    <div class="right-section-banner-container">
        <div class="image-container">
            <img src="banner.svg" alt="Welcome Banner Image">
        </div>
    </div>
</div>