<div class="events-filters-container">
    <div class="events-filters-wrapper">
        <p class="title">Znajdź wydarzenie dla siebie</p>
        <div class="filters-container">
            <label class="pill input">
                <mat-icon>search</mat-icon>
                <input type="text" placeholder="Szukaj" />
            </label>
            <div class="date-wrapper">
                <input type="date" class="date" required />
                <span class="date-placeholder">Data</span>
            </div>
            <button *ngIf="!isMap; else listButton" class="show-on-map-button" (click)="navigateToMap()">
                Pokaż na mapie
                <mat-icon>map</mat-icon>
            </button>
            <ng-template #listButton>
                <button class="show-on-map-button" (click)="navigateToEvents()">
                    Pokaż liste
                    <mat-icon>list</mat-icon>
                </button>
            </ng-template>
        </div>
    </div>
</div>