<div class="events-filters-container">
    <p class="title">Znajdz wydarzenie dla siebie</p>
    <div class="filters-container">
        <label class="pill input">
            <mat-icon>search</mat-icon>
            <input type="text" placeholder="Szukaj" />
        </label>
        <label class="pill ghost date">
            <!-- <mat-form-field appearance="outline" class="pill-field" subscriptSizing="dynamic">
                <input
                matInput
                [matDatepicker]="picker"
                placeholder="Data"
                [(ngModel)]="selectedDate"
                readonly
                />
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker startView="multi-year"></mat-datepicker>
            </mat-form-field> -->
        </label>
        <button class="show-on-map-button">
            Pokaż na mapie
            <mat-icon>map</mat-icon>
        </button>
    </div>
</div>