.events-filters-container{
    height: 100%;
    width: 100%;
    background-color: #FAB941;
    display: flex;
    flex-direction: column;

    .events-filters-wrapper {
        padding: 0 2%;
    }

    .title {
        font-size: 3.0em;
        color: #391F96;
    }

    --control-h: 44px;

    .filters-container {
        display: flex;
        align-items: center;
        gap: 12px;

        .pill.input {
            display: inline-flex;
            align-items: center;
            gap: 10px;
            padding: 10px 16px;
            border-radius: 10px;
            background-color: white;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

            mat-icon {
                font-size: 20px;
                color: rgba(0, 0, 0, 0.5);
            }

            input {
                border: none;
                outline: none;
                background: transparent;
                font-size: 1em;
                min-width: 200px;

                &::placeholder {
                color: rgba(0, 0, 0, 0.5);
                }
            }
        }

        .date-wrapper {
            position: relative;
            display: inline-block;

            .date {
                height: var(--control-h);
                background: #F6D395;
                padding: 0 14px;
                border-radius: 10px;
                box-shadow: 0 4px 10px rgba(0,0,0,.1);
                border: none;
                width: 140px;
                font-size: 1em;

                &:invalid::-webkit-datetime-edit {
                color: transparent;
                }
                &:invalid::-webkit-datetime-edit-text {
                color: transparent;
                }
                &:invalid::-webkit-datetime-edit-month-field,
                &:invalid::-webkit-datetime-edit-day-field,
                &:invalid::-webkit-datetime-edit-year-field {
                color: transparent;
                }
            }

            .date-placeholder {
                position: absolute;
                left: 14px;
                top: 50%;
                transform: translateY(-50%);
                color: #6e655a;
                pointer-events: none;
                font-weight: 600;
                transition: opacity .2s ease;
            }

            .date:valid ~ .date-placeholder {
                opacity: 0;
            }
        }

        
        .show-on-map-button {
            display: inline-flex;
            align-items: center;
            padding: 0 16px;
            border: none;
            border-radius: 10px;
            cursor: pointer;
            font-size: 1em;
            color: white;
            background-color: #391F96;
            width: fit-content;
            height: 44px;
            gap: 8px;
            margin-left: auto;

            mat-icon {
                font-size: 20px;
            }
        }
    }
}